body {
  font-family: sans-serif;
  width:  100%;
  height: 100%;
  margin: 0;
}
.canvas {
border:1px solid black;
cursor: crosshair;
position:absolute;
top:0px;
left:0px;
width:  100%;
  height: 100%;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: #babdbf;
  overflow-x: hidden;
  transition: 0.5s;
    }
.sidenav .closebtn {
 float:right;
font-size: 2em;
font-weight:bold;
color:grey;
margin:0.5em;
  }
.sidenav .closebtn:hover {
 color:white;
  }
  #main {
  transition: margin-left .5s;
  }
.Btns {
position:fixed;
z-index:99;
cursor: pointer;
}
.Btns img {
    display: inline-block;
    border-radius:100%;
    padding:0.7em; 
    margin:0.2em;
}
.Btns img {
    background-color: #2196F3;
   
  cursor: pointer;  
    border-radius:100%;
    padding:0.7em; 
    margin:0.2em;
}
.Btns img:hover {
  background-color: #57aef2;
}
.Btns input { 
    display:none;
  opacity: 0;
  width: 0;
  height: 0;
}

.SymbType input[type=checkbox]{
     display:none;
  opacity: 0;
  width: 0;
  height: 0;
}
.SymbType label {
background-color: #2196F3;
  border: none;
  color: white;
  font-weight:bold;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display:block;
  margin: 2px 1px;
  cursor: pointer;
  border-radius:7px;
}
input[type=checkbox]:checked + .slider {
  background-color: #2196F3;
}

input[type=checkbox]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
button {
  background-color: #2196F3;
  border: none;
  color: white;
  font-weight:bold;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display:block;
  margin: 2px 1px;
  cursor: pointer;
  border-radius:7px;
}
button:hover {
  background-color: #57aef2;
}

